- name: {{ .Name }}
  address:
    socket_address:
      address: 0.0.0.0
      port_value: {{ .Port }}
  filter_chains:
    - filters:
        - name: envoy.filters.network.tcp_proxy
          typed_config:
            "@type": type.googleapis.com/envoy.extensions.filters.network.tcp_proxy.v3.TcpProxy
            stat_prefix: {{ .StatPrefix }}
            cluster: {{ .ClusterName }}
            {{- if .Timeouts }}
            idle_timeout: {{ .Timeouts.Idle }}s
            {{- end }}
